//
// Special Tabs
//
@if $header == 'default' {
.nautilus-window notebook {

  > header.top {
    margin-top: -1px;
    padding: 0 2px 3px 2px;

    > tabs > tab + tab { margin-left: -8px; }

    > tabs > tab {
      border: none;
      padding-left: 16px;
      padding-right: 16px;

      &:hover {
        background-color: if($variant == 'light', rgba($header_bg, 0.15), rgba($header_bg, 0.5));
        border-image-width: 8px 16px 8px 16px;
        border-image-slice: 8 16 8 16;
        border-image-repeat: stretch;
        border-image-source: -gtk-scaled(url("assets/tabs-hover#{$asset_suffix}.png"),
                                         url("assets/tabs-hover#{$asset_suffix}@2.png"));
      }

      &:checked {
        color: $header_fg;
        background-color: $header_bg;
        box-shadow: none;
        border: none;
        border-image-width: 8px 16px 8px 16px;
        border-image-slice: 8 16 8 16;
        border-image-repeat: stretch;
        border-image-source: -gtk-scaled(url("assets/tabs-active#{$asset_suffix}.png"),
                                         url("assets/tabs-active#{$asset_suffix}@2.png"));
      }

      &:checked:backdrop {
        transition: $backdrop_transition;
        color: rgba($header_fg, 0.5);
        background-color: $header_bg_backdrop;
        border-image-source: -gtk-scaled(url("assets/tabs-active-backdrop#{$asset_suffix}.png"),
                                         url("assets/tabs-active-backdrop#{$asset_suffix}@2.png"));
      }
    }
  }
}
}

// GNOME Terminal, MATE Terminal
terminal-window,
.mate-terminal {
  notebook {
    padding: 0;

    > header.top {
      padding: 0;
      margin-top: -1px;

      > tabs > tab:first-child {
        border-left: none;
      }

      button {
        padding: 0;
        min-width: 24px;
        min-height: 24px;
      }
    }

    scrollbar { background: none; }
  }
}
